.feature_light{
  position: relative;
  text-align: center;
}
.default
{
  position: relative;
  width: 188px;
  height: 55px;
  font-family: 'Graphik-Regular';
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-left: 550px;
  margin-top: 200px;
}

.icon2{
  position: relative;
    width: 190px;
    height: 60px;
    text-align: center;
    float: left;
    text-size-adjust: 18px;
    color: #374754;
    font-family: 'Graphik-Regular';
    margin-right: 100px;
    margin-left: 150px;
    margin-top: 50px;
    
  }
  
  .screen {
    Width:1177.34px;
    Height:658.3px;
    border-radius:44.81px;
    margin-bottom: 100px;
    margin-top: 200px;
  }