.hero_light{
  text-align: center;
  float: center;
  position: relative;
}
.Hero1{
  position: relative;
    width: 450px;
    height: 110px;
    font-family: 'Graphik-Regular';
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 150px;
    margin-left: 100px;
    text-align: left;
    }
    
    .connect1{
      position: relative;
    font-family: 'Graphik-Regular';
    width: 532px;
    height: 80px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #374754;
    margin-right: 500px;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    }
    
    .Mac{
    float: right;
    Width:581.42px;
    Height:400.86px;
    Top:14.07px;;
    position: relative;
    right: 11.63%;
    top: 4.03%;
    bottom: 9.81%;
    margin-left: 100px;
    margin-top: -250px;
    }
    
    .button1 { 
      position: relative;
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      display: flex;
      padding: 16px 0px;
      width: 236px;
      height: 60px;
      text-align: center;
      background: #2091F9;
      border: 1px solid #2091F9;
      border-radius: 35px;
      font-size: 20px;
      font-family: 'Graphik-Regular';
      line-height: 28px;
      letter-spacing: 0.1px;
      color: white;
      margin-left: 100px;
      margin-top: 35px;
    }
    
    