.light_CTA{
  text-align: center;
  float: center;
  position: relative;
}
.screen2{
  position: relative;
  display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 47.46px;
width: 654.23px;
height: 414px;
margin-top: 200px;
margin-bottom: 100px;

}
.block{
  position: relative;
    float:right;
    padding: 0px 63px;
    gap: 15px;
    width: 544px;
    height: 200px;
    flex: none;
    order: 1;
    align-self: center;
    text-align: left;
    margin-top : -450px;
    margin-bottom: 200px;
    letter-spacing: 0.2px;
    line-height: 50px;
    font-family: 'Graphik-Regular';
    margin-left: 200px;
    margin-right: 0px;
  }
  .block2{
    position: relative;
    letter-spacing: 0.2px;
    line-height: 12px;
    margin-bottom: 40px;
    color: #374754;

  }
  .input{
    position: relative;
    gap: 64px;
    width: 272px;
    height: 54px;
    background: #F4F4F4;
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    margin-right: 10px;
  }
  .button3
  {
      align-items: center;
      padding: 19px 38px;
      gap: 64px;
      width: 172px;
      height: 54px;
      Left:50px;
      right: 0px;
      background: #2091F9;
      border-radius: 35px;
      font-size: 20px;
      font-family: 'Graphik-Regular';
      line-height: 28px;
      letter-spacing: 0.2px;
      color: white;
      border: none;
      position: relative;
      margin-top: 3px;

    }