.header-l{
  text-align: center;
  float: center;
  color: white;
  position: relative;
}
.nav {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    position: relative;
  }
  li{
    float: left;
    Top:10px;
    Left:10px;
    width: 100px;
    height: 28px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin-left: 41px;
    text-align: left;
  }
  .fig{
    margin-right: 500px;
    margin-left: 50px;
  }
  .ver  {
    float: right;
    padding: 10px;
    height: 28px;
    margin-top:0px;
    line-height: 2px;
    
  }
  .icon 
{
  float: left;
  padding: 20px;
  width: 50px;
  height: 50px;
  size: 15px;
  margin-top: -70px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 10px;
  color: white;
  position: relative;
}

  .Hero{
    float:center;
    width: 900px;
    height: 150px;
    font-family: 'Graphik-Regular';
    font-weight: 700;
    font-size: 48px;
    line-height: 100px;
    letter-spacing: 0.2px;
    color: white;
    margin-top: 70px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    }
    .connect{
      float: center;
      font-family: 'Graphik-Regular';
      width: 800px;
      height: 85px;
      font-weight: 200;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: 0.2px;
      color:white;
      text-align: center;
      margin-top: 70px;
      margin-left: 350px;
      margin-right: 300px;
      }  
  .button2 {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 16px 0px;
      width: 236px;
      height: 52px;
      background: #2091F9;
      color: white;
      border-radius: 35px;
      font-size: 20px;
      font-family: 'Graphik-Regular';
      line-height: 28px;
      letter-spacing: 0.1px;
      margin-left: 700px;
      margin-top: 100px;
      margin-bottom: 100px;
      text-align: center;
      margin-right: 0px;
    }
    